.summery {
  position: absolute;
  margin-top: 0;
  background: rgb(255, 255, 255);
  z-index: 10;
  border: 2px solid rgb(216, 208, 208);
  height: 100%;
  width: 60%;
  margin-left: 40%;
  /* float: right; */
  z-index: 1031;

}
.summery-heading{
  width: 20px;
  margin-left: auto;
  margin-right: 15px;
}

.cancel-btn {
  width: 20px;
  height: 20px;
  cursor:pointer;
}